<mat-toolbar color="primary" style="opacity: 0.9;">
  <span>{{title}}</span>
  <span class="toolbar-spacer"></span>
  <app-elapsed-time *ngIf="isSimulationStarted"></app-elapsed-time>
  <span class="toolbar-spacer" *ngIf="isSimulationStarted"></span>
  <app-distance *ngIf="isSimulationStarted"></app-distance>
  <span class="toolbar-spacer" *ngIf="isSimulationStarted"></span>
  <app-grade *ngIf="isSimulationStarted"></app-grade>
  <span class="toolbar-spacer" *ngIf="isSimulationStarted"></span>
  <input *ngIf="!isSimulationStarted" type="file" (change)="onFileSelected($event)" />
  <button mat-raised-button color="primary" *ngIf="!isSimulationStarted" (click)="startSimulation()">Start Simulation</button>
  <button mat-raised-button color="primary" *ngIf="isSimulationStarted" (click)="stopSimulation()">Stop Simulation</button>
</mat-toolbar>
<mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>
<div class="map-container">
  <div id="map"></div>
</div>
<div class="dashboard-container">
  <app-heart-rate></app-heart-rate>
  <app-speed></app-speed>
  <app-cadence></app-cadence>
  <app-power></app-power>
</div>
<app-altitude-profile class="fullWidthOnBottom" [leafletGpx]="leafletGpx" [isSimulationStarted]="isSimulationStarted"
  (positionChangeEvent)="handlePositionChangeEvent($event)"></app-altitude-profile>