// https://css-tricks.com/snippets/css/a-guide-to-flexbox/
.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#map {
    width: 100vw;
    height: 100vh;
}

.toastr-container {
    position: fixed;
    top: 70px;
    right: 10px;
    width: 300px;
}

.fullWidthOnBottom {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 10px;
    right: 10px;
    height: 25vh; // 25% of the viewport height
}
