<mat-card class="inline-card">
    <mat-card-header>
        <mat-card-title>Fitness Machine</mat-card-title>
        <mat-card-subtitle>{{ deviceName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="connect()">Connect</button>
        <button mat-button (click)="disconnect()">Disconnect</button>
        <button mat-button (click)="control()">Control</button>
        <button mat-button (click)="resistance00()">00</button>
        <button mat-button (click)="resistance10()">10</button>
        <button mat-button (click)="resistance20()">20</button>
        <button mat-button (click)="resistance30()">30</button>
        <button mat-button (click)="resistance40()">40</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>